.homeMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.inputField button {
    margin-left: 10px;
    height: 55px ;
}