.LandingPageContainer {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.LandingPageContainer nav {
    padding-inline: 1.6rem;
    padding-block: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LandingPageContainer .navHeader {
    color: white;
    font-size: 35px;
}

.LandingPageContainer .navLists {
    display: flex;
    gap: 2rem;
}

.LandingPageContainer .navLists p {
    color: white;
    font-size: larger;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
}

.landingMainContainer .mainDescription {
    padding-inline: 2rem;
    height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

.landingMainContainer .mainDescription h1 {
    letter-spacing: 2px;
}

.landingMainContainer .mainDescription div[role='button'] {
    background-color: #d97500;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
}

.landingMainContainer .mainDescription div[role='button'] a {
    text-decoration: none;
    color: white;
}

.landingMainContainer .mainImg img {
    height: 90%;
    width: auto;
    padding-bottom: 2rem;
}
